<% include partials/_header %>

<h1><%= data.Nombre %></h1>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-5 offset-md-3 card">
      <div class="card-body">
        <form action="/updatemun/<%= data.Id_Municipio %>" method="POST">
          <div class="form-group">
            <input type="text" name="Nombre" value="<%= data.Nombre%>"placeholder="Nombre" class="form-control" autofocus pattern="^[a-zA-Z\sÀ-ÿ\u00f1\u00d1*]*$" required>
          </div>
          <div class="form-group">
            <select type="text" name="Tipo_zona" placeholder="Tipo de Zona" class="form-control" autofocus required="">
              <option selected="selected"><%= data.Tipo_zona%></option>
              <option>Urbana</option>
              <option>Rural</option>
            </select>
          </div>
          <div class="form-group">
            <select type="text" name="N_Habitantes" placeholder="Número de habitantes" class="form-control" autofocus required="">
              <option selected="selected"><%= data.N_Habitantes%></option>
              <option>1 a 1000</option>
              <option>1001 a 10000</option>
              <option>10001 a 100000</option>
              <option>100001 a 1000000</option>
              <option>más de 1000000</option>
            </select>
          </div>
          <div class="form-group">
            <select type="text" name="Es_pm" placeholder="¿Es pueblo mágico?" class="form-control" autofocus required=""> 
            <option selected="selected"><%= data.Es_pm%></option>
              <option>Sí</option>
              <option>No</option>
            </select>
          </div>
          <div class="form-group">
            <select type="text" name="Tipo_des" placeholder="Tipo" class="form-control" autofocus>
            <option selected="selected"><%= data.Tipo_des%></option>
              <option>Playa</option>
              <option>Ciudad</option>
              <option>Montaña</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">
            Editar Municipio
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<% include partials/_footer %>
